body {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 120px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(202, 202, 202);
  transition: 0.3s linear;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  width: 15px;
}

/* start container */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Container in  Small Screen  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Container in  Medium Screen  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Container in  Large Screen  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End container */

.nav-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100% - 4px);
  height: 50px;
  z-index: 4;
  border: 2px solid #607d8b;
  background-color: white;
}

.clients {
  height: 307px;
  overflow: auto;
  margin-top: 15px;
}
.add-new-client {
  padding: 15px;
  width: fit-content;
  position: fixed;
  bottom: 4px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #607d8b;
  z-index: 5;
  border-radius: 50%;
  border: 5px solid #ffffff;
}

.add-new-client img {
  width: 30px;
}

h3 {
  font-size: 35px;
  text-align: center;
  color: #00bcd4;
  position: relative;
}

h3::before {
  content: "";
  position: absolute;
  background-color: #000;
  height: 2px;
  width: 10%;
  top: 50%;
  left: 0;
}

h3::after {
  content: "";
  position: absolute;
  background-color: #000;
  height: 2px;
  width: 10%;
  top: 50%;
  right: 0;
}

h3 span {
  color: #9e9e9e;
}

.price-input,
select,
button {
  font-size: 17px;
  padding: 15px 10px;
  border-radius: 15px;
}
.price-input {
  display: block;
  width: 100%;
  border: 1px solid #eee;
  margin-bottom: 15px;
}

input:focus-visible {
  outline-color: #007bff;
}

select {
  display: block;
  width: 100%;
  border: 1px solid #eee;
  margin-bottom: 15px;
  background-color: white;
}

select:focus-visible {
  outline-color: #007bff;
}

.invalid-msg {
  color: red;
  text-align: center;
  margin-bottom: 3px;
  display: none;
}

.invalid-msg.show {
  display: block;
}

button {
  border: none;
  width: 100%;
  background-color: #007bff;
  color: white;
}

.client-one {
  border: 3px solid #9e9e9e;
  border-radius: 9px;
  margin-top: 15px;
}

.client-one .client-name {
  background-color: #9e9e9e;
  border-radius: 0px;
  margin-top: -1px;
  font-size: 20px;
}

.client-name {
  position: relative;
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 5px 10px;
  text-transform: capitalize;
  box-shadow: 0px 8px 19px -10px #000;
  z-index: 3;
}

.client-income {
  background-color: white;
  font-size: 18px;
  padding: 15px;
  margin-top: -15px;
  z-index: 1;
}

.client-two .client-name {
  background-color: #9e9e9e;
  border-radius: 10px;
}

.total-price {
  font-size: 15px;
  margin-top: 9px;
  margin-left: 15px;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.total-price span {
  color: #2bca31;
}

.client-name i {
  font-size: 18px;
  float: right;
  margin: 3px;
  transition: 0.3s linear;
}

.client-name i img {
  width: 15px;
}

.change-name {
  position: absolute;
  z-index: 5;
  background-color: white;
  padding: 60px 30px;
  border-radius: 10px;
  top: -250px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s linear;
}

.change-name.show {
  top: 50%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000004a;
  top: -1000px;
  left: 0;
  z-index: 5;
  transition: 0.3s linear;
}

.overlay.show {
  top: 0;
}

.change-name input {
  padding: 10px 50px;
  border: 1px solid rgb(133, 133, 133);
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 25px;
}

.change-name button {
  background-color: rgb(177, 177, 177);
  font-size: 15px;
}

.change-name span {
  position: absolute;
  top: -7px;
  right: -5px;
  cursor: pointer;
}

.change-name span img {
  width: 24px;
}
